################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-debug
/.vs
/.idea
/conways-game-of-life/emsc.bat
/conways-game-of-life/emsc_build