################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-debug
/.vs
/.idea/.gitignore
/.idea/conways-game-of-life.iml
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
